.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 700;
    color: #a03bff;
  }

  &__icon {
    font-size: 16px;
    color: #3fb1fe;
    font-weight: 700;
  }
}

